@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapbox-improve-map {
  display: none !important;
}
