@import "tailwindcss";

@theme {
  --color-beige: #f2eeec;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapbox-improve-map {
  display: none !important;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.Toastify__toast-container {
  left: 50%;
  transform: translateX(-50%);
  width: fit-content !important;
  min-width: 300px !important;
  max-width: 620px !important;
  margin-top: 60px !important;
}

.Toastify__toast {
  border-radius: 99px !important;
  align-items: center;
  justify-content: center;
  padding: 0px 20px !important;
  min-height: 50px;
  max-height: 50px;
}

.Toastify__close-button {
  display: none;
}
