@import "tailwindcss";

@theme {
  --color-beige: #f2eeec;
}

html,
body {
  background-color: #f4f4f5;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
.mapbox-improve-map {
  display: none !important;
}

body:has(dialog[open]) {
  overflow: hidden;
}

.swiper-scrollbar {
  background-color: transparent !important;
}

.Toastify__toast-container {
  left: 50%;
  transform: translateX(-50%);
  width: fit-content !important;
  min-width: 300px !important;
  max-width: 620px !important;
  margin-top: 60px !important;
}

.Toastify__toast {
  border-radius: 99px !important;
  align-items: center;
  justify-content: center;
  padding: 0px 20px !important;
  min-height: 50px;
  max-height: 50px;
}

.Toastify__close-button {
  display: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  position: relative;
  overflow: hidden;
}

.animate-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.5s infinite;
}
.pure-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.pure-checkbox:checked {
  background-color: #d5b2a8;
  border-color: #d5b2a8;
}

.pure-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
